{% extends 'user-profile.html' %}
{% block head_title %}Изменение пароля{% endblock %}
{% block profile_details %}
    <div class="profile-page__tariff">Изменение пароля</div>
    <div class="change-pass-form__container">
        <form action="http://185.209.22.56:{{port}}/user-registration" method="post" class="reg-form reg-form_change-pass">
            <div class="reg-form__input-container">
                <label for="password" class="reg-form__label"></label>
                <input name="password" id="password" value="" placeholder="Ваш текущий пароль" class="reg-form__input">
                <div class="reg-form__notification" hidden></div>
            </div>
            <div class="reg-form__input-container">
                <label for="password" class="reg-form__label"></label>
                <input name="password" value="" placeholder="Новый пароль" class="reg-form__input reg-form__new-pass">
                <div class="reg-form__notification" hidden></div>
            </div>
            <div class="reg-form__input-container">
                <label for="password" class="reg-form__label"></label>
                <input name="password" value="" placeholder="Повторите новый пароль" class="reg-form__input reg-form__new-pass-repeat">
                <div class="reg-form__notification" hidden></div>
            </div>
            <div>
                <button class="reg-form__submit-btn">Сменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}