{% extends 'main.html' %}
{% block head_title %}Авторизация{% endblock %}
{% block body %}
    <section class="login-page">
        <div class="login-form__container">
        <form action="" method="post" class="reg-form">
            <div class="reg-form__input-container">
                <label for="login" class="reg-form__label"></label>
                <input name="login" id="login" value="" placeholder="Ваш логин" class="reg-form__input">
                <div class="reg-form__notification" hidden></div>
            </div>
            <div class="reg-form__input-container">
                <label for="password" class="reg-form__label"></label>
                <input name="password" id="password" value="" placeholder="Ваш пароль" class="reg-form__input">
                <div class="reg-form__notification" hidden></div>
            </div>
            <div>
                <button class="reg-form__submit-btn">Войти</button>
            </div>
            <a href="{{server_url}}/user/registration" class="reg-form__login-or-reg">Нет аккаунта? Зарегистрироваться</a>
        </form> 
        </div>
    </section>
{% endblock %}