{% extends 'main.html' %}
{% block head_title %}Личный кабинет{% endblock %}
{% block body %}
<section class="profile-page">
    <div class="profile-page__menu">
        <a href="{{server_url}}/user/profile/subscription" class="profile-page__menu-link change-tariff">Управлять подпиской</a>
        <a href="{{server_url}}/user/profile/edit" class="profile-page__menu-link change-pass">Сменить пароль</a>
        <a href="{{server_url}}/user/profile/add-user" class="profile-page__menu-link">Управление ключами сотрудников</a>
        <a href="" class="profile-page__menu-link"> Настройки...</a>
    </div>
    <div class="profile-page__info-block">
        {% block profile_details %}
            <div class="profile-page__tariff">Ваш тарифный план <a href="" class="profile-page__tariff-link">"Продвинутый"</a> </div>
            <div class="profile-page__exp-date">Срок подписки истекает 12.12.2021</div>
            <div class="profile-page__company-details">
                <h3>Профиль</h3>
                <table>
                    <tr>
                        <td>
                            Электронная почта
                        </td>
                        <td>
                            {{user_email}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Номер телефона
                        </td>
                        <td>
                            {{user_phone}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Название организации
                        </td>
                        <td>
                            {{user_organization_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ИНН/КПП
                        </td>
                        <td>
                            {{user_organization_inn}}
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}
    </div>   
</section>
{% endblock %}