* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #454B54;
}
//Удалить
* section {
    min-height: 700px;
}

.reg-page {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.login-page {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.reg-form {
    border: 3px solid black;
    border-radius: 8px;
    padding: 50px;
    padding-bottom: 25px;
    width: 406px;
    margin: 0 auto;
    &__input-container {
        position: relative;
    }
    &__notification {
        position: absolute;
        top: 0px;
        right: 0px;
        border: 1px solid black;
        width: 400px;
        // height: 40px;
        background-color: white;
        padding: 5px;
        font-size: 14px;
    }
    @keyframes shaking{
        0%  { left: -3px; }
        50%  { left: 3px; }
        100% { left: 0px; }
    }
    &__submit-btn {
        position: relative;
        margin-top: 10px;
        width: 300px;
        height: 55px;
        border: 3px solid black;
        border-radius: 30px;
        background-color: transparent;
        font-size: 16px;
        text-transform: uppercase;
        &_animated {
            animation: shaking 0.1s cubic-bezier(0.65, 0.05, 0.36, 1) 0s 5 alternate both;
        }
        
    }
    &__submit-btn:hover {
        background-color: black;
        color: white;
    }
    &__login-or-reg {
        display: block;
        margin-top: 20px;
        text-decoration: none;
        text-align: center;
        :active {
            color: green;
        }
    }
    &__input-container {
        margin-bottom: 10px;
        display: block;
        input{
            box-sizing: border-box;
            padding-left: 10px;
            width: 300px;
            height: 40px;
        }
    }

    &_change-pass {
        border: none
    }
}

.profile-page {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "menu info";
    grid-template-rows: 1fr;  
    grid-template-columns: 40% 1fr;
    &__menu {
        padding-top: 50px;
        grid-area: menu;
        background-color: #2696c0;
        :first-child {
            border-top: 1px solid #e7e7e7;
        }
    }
    &__info-block {
        padding-top: 50px;
        padding-left: 30px;
        grid-area: info;
        // height: 100Vh;
    }
    &__menu-link {
        display: block;
        height: 62px;
        border-bottom: 1px solid #e7e7e7;
        padding: 18px;
        padding-left: 30px;
        text-decoration: none;
        color: white
    }
    &__tariff {
        padding-bottom: 20px;
        font-size: 25px;
    }
    &__tariff-link {
        font-size: 25;
        font-weight: bold;
        text-decoration: none;
    }
}

.user-list {
    &__list-el {
        list-style: none;
        display: flex;
        margin-bottom: 10px;
    }
    &__button {
        background-color: white;
        width: 160px;
        height: 40px;
        margin-left: 20px;
    }
    &__form {
        position: relative;
    }
}

.subscription {
    &__input-container {
        position: relative;
    }
    &__input{
        display: block;
    }
    &__btn {
        background-color:white;
        position: relative;
        width: 200px;
        height: 60px;
        border-radius: 30px;
    }
    &__btn:hover {
        background-color: black;
        color: white;
    }
}

.modal {
    padding: 20px;
    padding-top: 40px;
    &__container {
        z-index: 1;
        position: absolute; 
        left: 0; right: 0; top: 0; bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &__close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__text {
        margin-top: 20px;
        text-align: center;
    }
    &_active {
        z-index: 1;
        width: 250px;
        height: 150px;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto auto;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.logo {
    &__container {
        display: flex;
    }
    &__title {
        width: 118px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #454B54;
    }
}

.header {
    height: 113px;
    display: flex;
    justify-content: space-evenly;
    &__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &_disabled {
            display: none;
        }
    }
    &__item {
        list-style: none;
        margin-right: 24px;
    }
    &__link {
        text-decoration: none;
        font-size: 18px;
    }
    &__btn_close_hidden {
        display: none;
    }
    &__btn_menu-toggle {
        display: none;
    }
}

.teaser {
    // background: url('../src/static/main_bg.jpg') center (center / cover) no-repeat;
    padding-top: 77px;
    padding-bottom: 170px;
    &__title {
        font-weight: bold;
        font-size: 42px;
        text-align: center;
        text-align: center;
        margin-bottom: 33px;
    }
    &__subtitle {
        font-size: 22px;
        color: #000000;
        text-align: center;
        margin-bottom: 33px;
    }
    &__start {
        display: block;
        margin: 0 auto;
        width: 288px;
        height: 76px;
        background: #5BB4F0;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        text-align: center;
        color: #FFFFFF;

    }
}

.profile-links {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    align-items: center;
    &__entry {
        width: 118px;
        height: 51.36px;
        border: 3px solid #91CCF3;
        border-radius: 10px;
        text-decoration: none;
        margin-right: 23px;
    }
    &__reg {
        width: 189px;
        height: 51.36px;
        background: #5BB4F0;
        border: 3px solid #5BB4F0;
        border-radius: 10px;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
    }
}

.btn {
    &_show-pass {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;
        font-size: 16px;
        line-height: 16px;
    }
}

.loading {
    height: 50px;
    z-index: 1;
    position: absolute; 
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto auto;
}

.spin-wrapper{
    position: relative;
    width: 100%;
  
    .spinner{
      position: absolute;
      height: 80px;
      width: 80px;
      border: 4px solid transparent;
      border-top-color: #A04668;
      top: 50%;
      left: 50%;
      margin: -30px;
      border-radius: 50%;
      animation: spin 2s linear infinite;
      
      &:before, &:after{
        content:'';
        position: absolute;
        border: 6px solid transparent;
        border-radius: 50%;
      }
      
      &:before{
        border-top-color: #254E70;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        animation: spin 3s linear infinite;
      }
      
      &:after{
        border-top-color: #53cc5d;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;  
        animation: spin 4s linear infinite;
      }
    }
  }
  
  @keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

// @media screen {
    
// }
// 1440
// 980
// 768
// 540
// 320
@media (max-width: 980px) {
    .reg-page {
        width: 90%
    }
}
@media (max-width: 767px) {

}

@media (max-width: 540px) {
    header {
        position: fixed;
        background-color: white;
        z-index: 100;
        height: 50px;
        display: block;
        left: 0; right: 0;
    }
    .header {
        &__ul {
            margin-top: 100px;
            position: fixed;
            background-color: white;
            // z-index: 100;
            left: 0; right: 0; top: 0; bottom: 0;
            display: none;
            &_active {
                display: block;
            }
            // &_disabled {
            //     display: block;
            // }
        }
        &__item {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &__btn_close {
            display: block;
        }
        &__btn_close_hidden {
            display: block;
        }
        &__btn_menu-toggle {
            display: block;
        }
    }
}

@media (max-width: 320px) {

}